@import "../mixins";

main {
    width: 70%;
    margin-inline: auto;
    min-height: 100vh;
    @include flex-center(column, 30px);

    h1 {
        @include title-font();
        font-weight: 700;
        font-size: 38px;
        color: $main-green;
        margin-bottom: 35px;
    }
}

form {
    @include flex-center(column, 30px);
    width: 100%;

    a {
        position: absolute;
        bottom: 4vh;
        font-size: 18px;
        font-weight: 600;
        color: $soft-green;

        &:hover {
            color: $main-green;
        }
    }
}
