@import "../mixins";

form {
    @include flex-center(column, 30px);
    width: 100%;

    a {
        position: absolute;
        bottom: 4vh;
        font-size: 18px;
        font-weight: 600;
        color: $soft-green;

        &:hover {
            color: $main-green;
        }
    }
}
