$background: rgb(247, 247, 247);
$input-color: rgb(230, 230, 230);
$main-font: Inter, Avenir, Helvetica, Arial, sans-serif;
$title-font: "Poppins", sans-serif;
$dark-gray: rgb(54, 54, 54);
$main-green: rgb(0, 212, 96);
$soft-green: rgb(85, 206, 139); ;
